.wrapperContent {
  background-color: #f5f6f8;
  position: absolute;
  z-index: 1;
  width: calc(100vw - 20px);
}

.wrapperContent li {
  list-style: none;
}

.sectionContainerData {
  padding: 20px;
  margin-left: 280px;
  min-height: 100vh;
}

.titleTable {
  font-weight: 600;
  margin: 30px 0;
  font-size: 2rem;
  color: #343434;
}

.tableData {
  width: 100%;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.listHeader {
  border: 1px solid #ccc;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 10px;
  font-weight: 600;
}

.data {
  /* border: 1px solid #0000000e; */
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin-top: 40px;
  /* height: 100vh; */
  max-height: 65vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.data::-webkit-scrollbar {
  display: none;
}

.data li,
.listHeader {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.data li span {
  text-align: center;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

.contentBtnOpenModal {
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contentBtnOpenModal button {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 15px;
}

.contentBtnOpenModal svg {
  fill: #fff;
  stroke: #fff;
}

.boxModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 620px;
  width: 90%;
  padding: 20px;
  height: 90vh;
  max-height: 1000px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow-y: auto;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.boxModalFormAddProduct {
  padding: 10px;
  height: 90%;
  /* max-height: 900px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.titleFormAddProduct {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

.btnModalFormAdd {
  padding: 10px;
}

.boxModal::-webkit-scrollbar {
  display: none;
}

.inputSub input {
  border-radius: 10px;
  cursor: pointer !important;
  color: #fff;
  background-color: #0e53a7d9;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

@media (max-width: 1030px) {
  .sectionContainerData {
    margin: 0;
    margin-top: 100px;
  }

  .wrapperContent {
    width: 100%;
  }

  .data li span {
    padding: 10px;
  }

  .listHeader {
    padding: 0;
  }
}
